.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: 2px solid black;
    text-align: center;
    font-weight: bold;
}
